{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block aboutActive %}link-light active {% endblock aboutActive %}
{% block css %}

{% endblock css %}
{% block body %}
<main>
    {% load static %}
    <div class="position-relative">
      <img src="{% static 'home/team/team.jpg' %}" alt=" banner" class="w-100 opacity-100">
      <div class="position-absolute top-50  ms-5 mt-5">
        <div class="display-3 fw-light text-white">Team Ananta</div>
        <p class="lead text-light mb-0">Coming together is a beginning. Keeping together is progress. </p>
        <p class="lead text-light">Working together is success.</p>
      </div>
    </div>
    <div class="py-5">
        <div class="container">
            <div class="heading display-3 text text-center mb-5">Meet our team</div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            {% comment %} <img src="{% static 'home/team/IMG_4174.jpg' %}" alt="" class="rounded-circle" height="200" width="200"> {% endcomment %}
                            <h5 class="card-title display-6 text-center mt-2 pb-2">Harsh Saraiya</h5>
                            <p class="card-text text-center lead">harshsaraiya11@gmail.com</p>
                            <i class="bi bi-facebook mx-2 text-primary fs-2"></i>
                            <i class="bi bi-github mx-2  fs-2"></i>
                            <i class="bi bi-linkedin mx-2 text-primary fs-2"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            {% comment %} <img src="{% static 'home/team/IMG_4174.jpg' %}" alt="" class="rounded-circle" height="200" width="200"> {% endcomment %}
                            <h5 class="card-title display-6 text-center mt-2 pb-2">Harsh Saraiya</h5>
                            <p class="card-text text-center lead">harshsaraiya11@gmail.com</p>
                            <i class="bi bi-facebook mx-2 text-primary fs-2"></i>
                            <i class="bi bi-github mx-2  fs-2"></i>
                            <i class="bi bi-linkedin mx-2 text-primary fs-2"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body text-center">
                            {% comment %} <img src="{% static 'home/team/IMG_4174.jpg' %}" alt="" class="rounded-circle" height="200" width="200"> {% endcomment %}
                            <h5 class="card-title display-6 text-center mt-2 pb-2">Harsh Saraiya</h5>
                            <p class="card-text text-center lead">harshsaraiya11@gmail.com</p>
                            <i class="bi bi-facebook mx-2 text-primary fs-2"></i>
                            <i class="bi bi-github mx-2  fs-2"></i>
                            <i class="bi bi-linkedin mx-2 text-primary fs-2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}