{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block homeActive %}link-light active {% endblock homeActive %}
{% block body %}
<main>
  <div class="">
    {% load static %}
    <div class="position-relative">
      <img src="{% static 'home/banner.jpg' %}" alt=" banner" class="w-100">
      <div class="position-absolute top-50 end-50 ms-5 translate-middle-y">
        <div class="display-3 fw-light mb-2">Ananta Insurance</div>
        <p class="fs-3 lead">Tension, while you drive, can get over. Because we give you an interesting insurance cover.</p>
      </div>
    </div>
    <div class="container py-5 ">
      <div class="pb-3">
        <p class="fs-4 lead">At Ananta Insurance, we pride ourselves on our ability to provide our clients with risk protection. We also advice how to protect the businesses. Our experience and global reach give us a cutting-edge analytical edge, which in turn enables us to provide our clients with the best possible decision-making support. In the end, our goal is to help our clients make the most informed decisions possible.</p>
      </div>
      <hr>
      <div class="row py-3">
        <div class="col-lg-5">
          <div class="">
            <p class="fs-4 lead">Individuals, businesses, governments and communities need to become more resilient. We are better able to provide the insights and advice that assist today's businesses in protecting and growing their organizations thanks to Ananta's Insurance. Our expertise and insight create more relevant solutions in Insurance.</p>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="img-fluid">
            <img src="{% static 'home/insurance-banner.jpeg' %}" alt="" class="w-100">
          </div>
        </div>
      </div>
      
    </div>
  </div>
</main>

{% endblock body %}