{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block css %}
<style>
    .bg{
        {% load static %}
        background-image: url('{% static '/home/login.jpg' %}');
        {% comment %} background-color: #def0ff; {% endcomment %}
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .login-form {
        width: 340px;
        margin: 50px auto;
          font-size: 15px;
    }
    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-group{
        margin-bottom: 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
{% endblock css %}


{% block loginActive %}active{% endblock loginActive %}
{% block link-light %}link-light{% endblock link-light %}
{% block body %}
{% load static %}
<div class="bg py-5">
    <div class="login-form shadow-lg">
        <form action="/login" method="post">
            <h2 class="text-center py-4">Log in</h2>       
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email" required="required" id="loginemail" name="loginemail">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="required" id="loginpass" name="loginpass">
            </div>
            <div class="form-group">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </div>
            <div class="clearfix">
                <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
                <a href="#" class="float-right">Forgot Password?</a>
            </div>        
        </form>
        {% comment %} <p class="text-center"><a href="#">Create an Account</a></p> {% endcomment %}
    </div>
</div>
{% endblock body %}
