{% extends 'base.html' %}

{% block title %}Claim Form{% endblock title %}
{% block claimActive %}link-light active{% endblock claimActive %}
{% block cities %}
{% load static %}
<script src="{% static 'ananta_insurance/cities.js' %}"></script>
{% endblock cities %}
{% block css %}
<style>
    .custom-bg {
        background-color: rgb(218, 218, 218);
    }
</style>
{% endblock css %}

{% block body %}
<!-- claimform starts here   -->
<main class="pb-5">

    <div class="position-relative">
        {% load static %}
        <img src="{% static 'ananta_insurance/claim-banner-resized.jpg' %}" alt=" banner" class="w-100">
        <div class="position-absolute top-50 end-50 ms-5 translate-middle-y">
            <div class="display-3 fw-light">Insurance Claim Form</div>
        </div>
    </div>
    <!-- new sub-navbar -->
    
        <div class="container sub-nav d-block sticky-top bg-white border-top border-bottom py-3" style="top: 92px;">
            <nav>
                <div class="nav nav-pills" id="pills-tab" role="tablist">
                    <button class="nav-link active mx-2" id="pills-infoAboutInsured-tab" data-bs-toggle="pill" data-bs-target="#pills-infoAboutInsured"
                            type="button" role="tab" aria-controls="pills-infoAboutInsured" aria-selected="true">Information about
                        insured</button>
                        <i class="bi bi-arrow-right mt-2 fs-5"></i>
                    <button class="nav-link mx-2" id="pills-infoAboutInsuredVehicle-tab" data-bs-toggle="pill" data-bs-target="#pills-infoAboutInsuredVehicle"
                            type="button" role="tab" aria-controls="pills-infoAboutInsuredVehicle" aria-selected="false">Information about
                        Insured Vehicle</button>
                        <i class="bi bi-arrow-right mt-2 fs-5"></i>
                    <button class="nav-link mx-2" id="pills-driverDetails-tab" data-bs-toggle="pill" data-bs-target="#pills-driverDetails"
                            type="button" role="tab" aria-controls="pills-driverDetails" aria-selected="false">Details about the
                        driver (At the material time of accident)</button>
                        <i class="bi bi-arrow-right mt-2 fs-5"></i>
                    <button class="nav-link mx-2" id="pills-accidentDetails-tab" data-bs-toggle="pill" data-bs-target="#pills-accidentDetails"
                            type="button" role="tab" aria-controls="pills-accidentDetails" aria-selected="false">Details of
                        Accident / Theft</button>
                </div>
            </nav>
        </div>
    <!-- sub-navbar end -->

    <div class="container shadow-lg my-3 rounded-4 px-4 py-4">
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-infoAboutInsured" role="tabpanel" aria-labelledby="pills-infoAboutInsured-tab" tabindex="0">
                <form class=" needs-validation mt-0" action="" method="post">
                <div class="mb-2  fs-3 border-bottom border-dark fw-light">
                    Information about insured
                </div>
                <div class="row g-3">
                        <div class="col-md-6">
                            <label for="policyno" class="form-label">Policy Number</label>
                            <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light" id="policyno">{{policyno}}</div>
                        </div>
                        <div class="col-md-6">
                            <label for="premium" class="form-label">Annual Policy Premium</label>
                            <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light" id="premium">{{premium}}</div>
                        </div>
                        <div class="col-md-6">
                            <label for="firstname" class="form-label">First Name</label>
                            <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light">{{fname}}</div>
                        </div>
                        <div class="col-md-6">
                            <label for="lastname" class="form-label">Last Name</label>
                            <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light">{{lname}}</div>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Address</label>
                            <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light">{{address1}}</div>
                        </div>
                        <div class="col-12">
                            <label for="inputAddress2" class="form-label">Address 2</label>
                            <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light">{{address2}}</div>
        
                        </div>
                        <div class="col-md-6">
                            <label for="inputCity" class="form-label">City</label>
                            <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light">{{city}}</div>
                        </div>
                        <div class="col-md-4">
                            <label for="inputState" class="form-label">State</label>
                            <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light">{{state}}</div>
                        </div>
                        <div class="col-md-2">
                            <label for="inputZip" class="form-label">Pincode</label>
                            <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light">{{pincode}}</div>
                        </div>
                        <div class="col-md-6">
                            <label for="PAN" class="form-label">PAN</label>
                            <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light">{{pan}}</div>
                        </div>
                        <div class="col-md-6">
                            <label for="Aadhar" class="form-label">Aadhar</label>
                            <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light">{{aadhar}}</div>
                        </div>
                        <div class="col-md-6">
                            <label for="age" class="form-label">Age</label>
                            <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light">{{age}}</div>
                        </div>
                        <div class="col-md-6">
                            <label for="age" class="form-label">Insured Sex</label>
                            <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light">{{insured_sex}}</div>
                        </div>
                        
                        
                        <div class="col-md-6">
                            <label for="policy_period" class="form-label">Policy Period (Months as customer till now)</label>
                            <input type="number" class="form-control" id="policy_period" name="policy_period" required>
                            <!-- <div class="invalid-feedback">
                                Please provide policy period.
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                              </div> -->
                        </div>
                        <div class="col-md-6">
                            <label for="policy_csl" class="form-label">Policy CSL</label>
                            <select class="form-select" id="policy_csl" name="policy_csl" aria-label="Default select example" required>
                                <option selected disabled value="">Open this select menu</option>
                                <option value="1">250/500</option>
                                <option value="0">100/300</option>
                                <option value="2">500/1000</option>
                            </select>
                            <!-- <div class="valid-feedback">
                                Looks good!
                              </div>
                            <div class="invalid-feedback">
                                Please fill out this field.
                            </div> -->
                        </div>
        
                        <div class="col-md-6">
                            <label for="policy_deductible" class="form-label">Policy Deductible Amount</label>
                            <input type="number" class="form-control" id="policy_deductible" name="policy_deductible" required>
                            <!-- <div class="invalid-feedback">
                                Please fill out this field.
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                              </div> -->
                        </div>
        
                        <div class="col-md-6">
                            <label for="umbrella_limit" class="form-label">Umbrella Limit</label>
                            <input type="number" class="form-control" id="umbrella_limit" name="umbrella_limit" min="0"
                                placeholder="Umbrella Limit" required>
                            <!-- <div class="invalid-feedback">
                                Please fill out this field.
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div> -->
                        </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-infoAboutInsuredVehicle" role="tabpanel" aria-labelledby="pills-proinfoAboutInsuredVehiclefile-tab" tabindex="0">
                <div class="row g-3">
                    <div class="fs-3 border-bottom border-dark py-2 mb-2 fw-light mt-0">
                        Information about Insured Vehicle
                    </div>
                    <div class="col-md-6">
                        <label for="registrationno" class="form-label">Registration Number</label>
                        <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light">{{registrationno}}</div>
                    </div>
                    <div class="col-md-6">
                        <label for="chassisno" class="form-label">Chassis Number / VIN</label>
                        <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light">{{chassisno}}</div>
                    </div>
                    <div class="col-md-6">
                        <label for="brand" class="form-label">Car Brand</label>
                        <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light">{{brand}}</div>
                    </div>
                    <div class="col-md-6">
                        <label for="year" class="form-label">Car Year</label>
                        <div class="border fs-6 fw-normal ps-3 py-1 rounded-2  bg-light">{{caryear}}</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-driverDetails" role="tabpanel" aria-labelledby="pills-driverDetails-tab" tabindex="0">
                <div class="row g-3">
                    <div class="fs-3 border-bottom border-dark py-2 mb-2 fw-light mt-0">
                        Details about the driver (At the material time of accident)
                    </div>
                    <div class="col-md-6">
                        <label for="fullname" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Full Name" required>
                        <!-- <div class="invalid-feedback">
                            Please enter your name.
                          </div>
                          <div class="valid-feedback">
                            Looks good!
                          </div> -->
                    </div>
    
                    <div class="col-md-6">
                        <label for="driver_is" class="form-label">Driver is:</label>
                        <select class="form-select" id="driver_is" name="driver_is" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="owner">Owner</option>
                            <option value="paiddriver">Paid Driver</option>
                            <option value="friend">Friend</option>
                            <option value="relative">Relative</option>
                        </select>
                    </div>
    
                    <div class="col-md-6">
                        <label for="phone" class="form-label">Phone Number</label>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="10 digit Mobile Number" required>
                        <!-- <div class="invalid-feedback">
                            Please enter your phone number.
                          </div>
                          <div class="valid-feedback">
                            Looks good!
                          </div> -->
                    </div>
                    <div class="col-md-6">
                        <label for="dlnumber" class="form-label">DL Number</label>
                        <input type="text" class="form-control" id="dlnumber" name="dlnumber"
                            placeholder="Driving Licence Number">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-accidentDetails" role="tabpanel" aria-labelledby="pills-accidentDetails-tab" tabindex="0">
                <div class="row g-3">
                    <div class="fs-3 border-bottom border-dark py-2 mb-2 fw-light mt-0">
                        Details of Accident / Theft
                    </div>
                    <div class="col-md-4">
                        <label for="date" class="form-label">Date</label>
                        <input type="date" class="form-control" id="date" name="date">
                    </div>
                    <div class="col-md-4">
                        <label for="time" class="form-label">Incident Hour</label>
                        <input type="number" class="form-control" id="time" name="time" max="23" min="0"
                            placeholder="Incident Hour">
                    </div>
                    <div class="col-md-4">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" id="location" name="location" placeholder="Area / Street">
                    </div>
    
                    <div class="col-md-6">
                        <label for="sts" class="form-label">State</label>
                        <select onchange="print_city('state', this.selectedIndex);" id="sts" name="stt" class="form-select"
                                required>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="state" class="form-label">City</label>
                        <select id="state" class="form-select" name="city" required>
                        </select>
                    </div>
    
                    <div class="col-md-3">
                        <label for="type" class="form-label">Accident type</label>
                        <select class="form-select" name="accident_type" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="2">Single Vehicle Collision</option>
                            <option value="0">Multi-vehicle Collision</option>
                            <option value="1">Parked Car</option>
                            <option value="3">Vehicle Theft</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="type" class="form-label">Collision type</label>
                        <select class="form-select" name="collision_type" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="2">Side Collision</option>
                            <option value="1">Rear Collision</option>
                            <option value="0">Front Collision</option>
                            <option value="3">Undocumented</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="type" class="form-label">Accident severity</label>
                        <select class="form-select" name="severity" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="0">Major Damage</option>
                            <option value="1">Minor Damage</option>
                            <option value="2">Total Loss</option>
                            <option value="3">Trivial Damage</option>
                        </select>
                    </div>
    
                    <div class="col-md-3">
                        <label for="type" class="form-label">Damaged Material Info</label>
                        <select class="form-select" name="damage_material" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="Metal">Metal</option>
                            <option value="Fiber">Fiber</option>
                            <option value="Glass">Glass</option>
                        </select>
                    </div>
    
                    <div class="col-md-4">
                        <label for="type" class="form-label">Authorities Contacted</label>
                        <select class="form-select" name="auth_contacted" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="4">Police</option>
                            <option value="1">Fire-Dept</option>
                            <option value="0">Ambulance</option>
                            <option value="3">Other</option>
                            <option value="2">None</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="type" class="form-label">Police Report Available?</label>
                        <select class="form-select" name="police_report" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                            <option value="2">Undocumented</option>
                        </select>
                    </div>
    
                    <div class="col-md-4">
                        <label for="fir" class="form-label">If yes, please provide a copy of FIR Details</label>
                        <input type="text" class="form-control" id="fir" name="fir" size="10" placeholder="FIR number">
                    </div>
    
                    <div class="col-md-4">
                        <label for="type" class="form-label">Was any third party responsible for the accident /
                            theft?</label>
                        <select class="form-select" name="third_party_resp" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
    
                    <div class="col-md-4">
                        <label for="noofvehicle" class="form-label">Number of vehicles involved</label>
                        <input type="number" class="form-control" id="noofvehicle" name="noofvehicle" placeholder="Number of vehicles involved">
                    </div>
    
                    <div class="col-md-4">
                        <label for="noofpeople" class="form-label">Number of persons travelling</label>
                        <input type="number" class="form-control" id="noofpeople" name="noofpeople" placeholder="Number of persons travelling">
                    </div>
    
                    <div class="col-md-4">
                        <label for="property_damage" class="form-label">Third Party Damage</label>
                        <select class="form-select" name="property_damage" id="property_damage"
                                aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">Yes</option>
                            <option value="0">No</option>
                            <option value="2">Undocumented</option>
                        </select>
                    </div>
    
                    <div class="col-md-4">
                        <label for="people_injured" class="form-label">People Injured</label>
                        <input type="number" class="form-control" id="people_injured" name="people_injured" max="5" min="0" placeholder="People Injured">
                    </div>
                    <div class="col-md-4">
                        <label for="no_of_witnesses" class="form-label">Number of Witnesses</label>
                        <input type="number" class="form-control" id="no_of_witnesses" name="no_of_witnesses" max="5" min="0" placeholder="Number of Witnesses">
                    </div>
    
                    <hr class="mt-4">
    
                    <div class="col-md-3 mt-0">
                        <label for="injury_claim" class="form-label">Injury Claim</label>
                        <input type="text" on class="form-control" id="injury_claim" name="injury_claim" placeholder="Injury Claim">
                    </div>
                    <div class="col-md-3 mt-0">
                        <label for="property_claim" class="form-label">Property Claim</label>
                        <input type="text" class="form-control" id="property_claim" name="property_claim" placeholder="Property Claim">
                    </div>
                    <div class="col-md-3 mt-0">
                        <label for="vehicle_claim" class="form-label">Vehicle Claim</label>
                        <input type="text" class="form-control" id="vehicle_claim" name="vehicle_claim" placeholder="Vehicle Claim">
                    </div>
                    <div class="col-md-3 mt-0">
                        <label for="total_claim" class="form-label">Total Claim Amount</label>
                        <input type="text" class="form-control" id="total_claim" name="total_claim"
                            placeholder="Injury + Property + Vehicle">
                    </div>
    
    
                    <div class="mb-3 col-md-12">
                        <label for="description" class="form-label">Give brief description of the
                            accident</label>
                        <textarea class="form-control" id="description" name="description" rows="3" maxlength="300"></textarea>
                    </div>
                    <div class="col-12">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Submit Claim</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>

</main>

{% endblock body %}

{% block js %}
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
(() => {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>
{% endblock js %}
{% block printstate %}
<script language="javascript">print_state("sts");</script>
{% endblock printstate %}